.title {
  color: var(--main-color, #6eeb83);
}

.section {
  width: 980px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 24px;
  padding-left: 88px;
  position: relative;
  .date {
    box-shadow: 0 1px 0 var(--main-color, #6eeb83) inset;
    padding-top: 6px;
    display: inline;
    font-family: 'Lexend Deca';
    font-weight: 600;
    text-align: right;
    font-size: var(--font-22, 22px);
    position: absolute;
    top: 20px;
    left: -20px;
    .moment {
      display: flex;
      max-width: 100px;
      text-transform: capitalize;
      font-style: italic;
      font-size: var(--font-12, 12px);
      margin-bottom: 4px;
    }
    .time {
      padding-top: 4px;
      margin-right: 4px;
      box-shadow: 0 1px 0 var(--main-color, #6eeb83) inset;
      * {
        text-align: left;
        font-size: var(--font-14, 14px);
      }
    }
  }
  .name {
    transform-origin: top left;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 20px;
    left: 48px;
    font-size: var(--font-14, 14px);
  }
  .time-reading {
    position: absolute;
    bottom: 40px;
    right: 20px;
    font-size: var(--font-14, 14px);
    color: var(--main-color, #6eeb83);
    font-style: italic;
  }
}
