.mbsc-textfield-wrapper {
  width: 400px;
  margin: 0 !important;
  margin-top: 1rem !important;
  .mbsc-label {
    color: var(--main-color, #6eeb83);
  }
  .mbsc-textfield {
    margin: 4px;
    height: 40px;
    flex-shrink: 0;
    display: block;
    border-radius: 4px;
    padding: 12px 16px;
    align-items: center;
    font-size: var(--font-16, 16px);
    color: var(--content-color, #ffffff);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.08);
    background: var(--background-color-gray, #30445b);
    border: 1px solid var(--second-content-color, #a5a5a5);
    &::placeholder {
      color: var(--second-content-color, #a5a5a5);
    }
  }
}

.mbsc-popup-content,
.mbsc-datepicker .mbsc-calendar-slide {
  background: var(--background-color-gray, #30445b) !important;
}
