.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  margin-top: 8px;
  color: var(--main-color, #6eeb83);
  font-size: var(--font-22, 22px);
}
.content {
  margin: 8px 0 8px 0;
}

.date {
  box-shadow: 0 1px 0 var(--main-color, #6eeb83) inset;
  padding-top: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 0;
  * {
    color: var(--main-color, #6eeb83);
    font-size: var(--font-14, 14px);
  }
}
