$max_width: 1440px;
$white: #ffffff;
$black: #272727;
$grey: #a5a5a5;
$gray: #30445b;
$green: #6eeb83;
$red: #ff5e5b;
$transition-property: background, background-color, background-image, color,
  border-radius, border-color, filter, transform, translate, opacity;
$timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
